# OS
Thumbs.db
.DS_Store

# Editors
.idea/
.vscode/

# Logs
*.log

# Local env
.env
.env.*

# Build output
dist/
build/
coverage/

# Node / frontend
node_modules/

# .NET / backend
bin/
obj/
*.user
*.suo

# Temporary files
*.tmp
*.swp
